body{
	background-image: url("sky.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	color:white;
	text-align: center;
}
h1{
	color: red;
}
h2{
	color:blue;
}
h3{
	color:blue;
}
.btn{
	color:black;
}
.btn:hover {
  background-color: blue;
  color: white;
  transform: scale(1.2);
  border: solid 5px black;
  transition: 1s;
}