#head{
	color: blue;
	text-align: center;
}
body{
	background-color: aquamarine;
}
h3{
	background-color: white;
	color: black;
	text-align: center;
	margin-left: wrap-text;
}
.container{
	text-align: center;
	text-decoration: wavy;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	width:450px;
	height:350px;
	margin:5px;
	box-shadow: 4px 4px 4px yellow;
}
.i1:hover{
	transform: rotate(90deg) scale(1.2);
	transition: 1s;
}
.i2:hover{
	transform: rotate(180deg) scale(1.2);
	transition: 1s;
}
.i3:hover{
	transform: rotate(360deg) scale(1.2);
	transition: 1s;
}
.i4:hover{
	transform: rotate(720deg) scale(1.2);
	transition: 1s;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }